.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-attachment: fixed;
  overflow: hidden;
  background: #27272b;
  background-color: #27272B;
  background-image: url("/images/nodes.png");
  background-repeat: no-repeat;
  color: #999999;
  background-position: bottom center;
}

[class*=" devicon-"], [class^=devicon-] {
    font-family: devicon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-left: 10px;
    float: left;
    font-size: 100px
  }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  padding-top: 20px;
}

h2 {
  color: #de4f4f;
}

.animate-if.ng-enter {
    transition: 0.5s ease opacity;
    transition-delay: 0.2s;
}
.animate-if.ng-leave {
    transition: 0.2s ease all;
}

.animate-if.ng-enter {
    opacity: 0;
}

.animate-if.ng-leave {
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

textarea:focus {
    transition: height 50ms ease-in-out;
}

.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-if.ng-leave {
  opacity:1;
}

.animate-if.ng-leave.ng-leave-active {
  opacity:1;
}

h1 {
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}

img {
  max-width: 100%;
}

section {
  font-size: 19px;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
nav li, nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center
}
nav li, nav a {
  display: inline-block;
}
nav a {
  padding: 20px;
  color: #E3E0B3;
}
a:hover {
  color: #de4f4f;
}

a, a:active, a:focus {
  color: #eeeeee;
}

a:hover, a:active, a, a:focus {
  text-decoration: none;
}

.profile-info {
  border-bottom: 3px solid #de4f4f;
  padding-bottom: 0;
}

.profile-info h1 {
  font-size: 60px;
  color: #de4f4f;
}

.profile-info img {
  max-width: 38%;
}

.wrap {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
}
section {
  padding: 12px 0 30px 0;
}

h2 span {
  font-size: 16px;
}

span.glyphicon:hover {
  color: #de4f4f;
  cursor: pointer;
}

span.glyphicon.glyphicon-ok {
  margin-bottom: 4px
}


/* Sidebar */

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

  #sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    font-size: 21px;
    background-size: 500px 1000px;
}
  #page-content-wrapper {
    width: 100%;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding-top: 10px
  }

  .sidebar-nav li {
    padding-bottom: 0;
  }

  .sidebar-nav li {
    position:relative;
    margin-bottom: 0;
    padding-bottom: 1em;
    cursor: pointer;
}

.section-bullet {
    position: absolute;
    left: -24px;
    content: '';
    height: 0.7em;
    width: .7em;
    display: inline-block;
    border: 2px solid #E3E0B3;
    border-radius: 1em;
    margin-right: .5em;
    top: 8px;
    z-index: 5;
}

.sidebar-nav li:hover span {
  background-color: #E3E0B3;

}

.sidebar-nav li:before {
  content: "";
      position: absolute;
      left: -17px;
      border-left: 1px solid #de4f4f;
      height: 72%;
      width: 1px;
      top: 21px;
}

.sidebar-nav li.two-line-title:before {
  height: 82%;
}

.sidebar-nav li a.active {
  color: #de4f4f;
}

.sidebar-nav li a.active + .section-bullet {
  background-color: #E3E0B3;
}

.sidebar-nav li:first-child:before {
   top: 22px;
}

.sidebar-nav li:last-child:before {
   height: 6px;
}

.loading {
  border: none;
}

#sidebar-toggle {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  padding: 9px;
  border: 1px solid #DE4F4F;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  z-index: 100;
  color: #DE4F4F;
}

#sidebar-toggle:hover {
  color: #27272B;
  background-color: #DE4F4F;
}

@media (max-width:767px) {

  [class*=" devicon-"], [class^=devicon-] {
      font-size: 71px
  }

  #sidebar-toggle {
    display: block;
  }

  .profile-info h1{
      margin: 0px 20px 0 30px;
      text-align: center;
  }

  section {
    padding: 10px 0px 0 23px;
    font-size: 17px;
  }

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper.open {
    left: 250px;
    box-shadow: 0px 0px 11px black;
    background-color: rgba(91, 91, 94, 0.93);
  }
  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

}

blockquote {
  border: none;
}

.ease {
  transition: all 0.4s ease 0s;
}

#loggedUser {
  position: absolute;
  right: 14px;
  top: 48px;
}

#customBtn {
  display: inline-block;
  border-radius: 5px;
  white-space: nowrap;
  position: absolute;
  margin: 10px;
  right: 0;
  z-index: 5;
  padding: 6px 15px;
  border: 1px solid #de4f4f;
  color: #de4f4f;
  background-color: #27272b;
}

#customBtn:hover {
  cursor: pointer;
  background-color: #de4f4f;
  color: #27272b;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #818181;
  background: -moz-linear-gradient(left, #818181 10%, rgba(129,129,129, 0) 42%);
  background: -webkit-linear-gradient(left, #818181 10%, rgba(129,129,129, 0) 42%);
  background: -o-linear-gradient(left, #818181 10%, rgba(129,129,129, 0) 42%);
  background: -ms-linear-gradient(left, #818181 10%, rgba(129,129,129, 0) 42%);
  background: linear-gradient(to right, #818181 10%, rgba(129,129,129, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 0.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #818181;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #27272b;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.skill-img {
  padding-top: 9px;
  display: block;
  max-width: 80px;
  max-height: 80px;
};

.skill-name {
  width: 80px !important;
};

.row h3, .row img {
  max-width: 80px;
}

.inner-section {
  padding-top: 0;
}

.inner-section .row {
  margin-top: 10px;
}

section h5, section i {
  text-align: left;
  margin-top: 30px;
}

section i {
  font-size: 50px
}

section h5 {
  font-weight: bold;
}

i.devicon-github-plain.colored:before:hover {
  color: #eeeecf;
}
.devicon-github-plain.colored:before {
  color: #de4f4f;
}

.skill-slider, .inner-section .row {
  margin-left: 10px
}

.viewing .rz-pointer {
  display: none;
}

rzslider .rz-bar.rz-selection {
    background: #de4f4f;
}
