<div>
  <header class="row">
    <div class="col-lg-12 profile-info">
      <h1>
        {{vm.cvProfile.name}}
      </h1>
      <figure ng-show="vm.loading" class="loader" id="floatingCirclesG">
      </figure>
      <!-- <img class="img-responsive img-circle img-thumbnail" ng-src="{{user.google.profileImageURL}}" /> -->
    </div>
  </header>

  <section ng-show="s.active" ng-repeat="s in vm.sections | orderBy: 'position'">

    <div class="animate-if section-text" ng-if="!vm.allowedForEditing || !s.editing">
      <header>
        <h2>
          {{s.title}}
          <span class="glyphicon glyphicon-pencil" ng-click="vm.toggleEdit(s)" ng-if="vm.allowedForEditing">
          </span>
        </h2>
      </header>
      <article>
        <p markdown-to-html="s.body"></p>
      </article>
    </div>

    <fieldset ng-if="s.editing && vm.allowedForEditing" class="animate-if">

      <span class="glyphicon pull-right glyphicon-ok" ng-click="vm.toggleEdit(s)">
      </span>

      <textarea class="form-control section-edit"
        ng-model="s.title" ng-change="vm.sections.$save(s)">
      </textarea>

      <textarea class="form-control section-edit msd-elastic: \n;"
        ng-model="s.body" ng-change="vm.sections.$save(s)">
      </textarea>

    </fieldset>

    <div ng-repeat="skill in s.skills" class="row" ng-class="{'viewing': !s.editing}">

      <div class="col-sm-1">
        <h5 ng-if="!skill.icon" >
          {{skill.name}}
        </h5>
        <figure>
          <i ng-if="skill.icon" class="{{skill.icon}} ease"
             ng-class="{'colored': hover}"
             ng-mouseenter="hover = true"
             ng-mouseleave="hover = false"></i>
        </figure>
      </div>

      <rzslider ng-click="vm.sections.$save(s)"
        rz-slider-read-only="s.editing && vm.allowedForEditing"
        class="col-sm-8 skill-slider"
        rz-slider-model="skill.value"
        rz-slider-options="vm.slider.options">
      </rzslider>
    </div>

  </section>
</div>
