<style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
      background: #ebebeb;
    }
    body, button {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    h1 {
      padding-top: 50px;
    }
    img {
      max-width: 100%;
    }
    nav {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      background: rgba(255, 255, 255, 0.8);
    }
    nav li, nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center
    }
    nav li, nav a {
      display: inline-block;
    }
    nav a {
      padding: 20px;
      color: #333;
      text-decoration: none;
    }
    a:hover {
      background: #fff;
    }
    a.active {
      background: #00AC7F;
      color: #fff;
    }
    .wrap {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      padding: 50px 20px;
    }
    section {
      padding: 50px 0 30px 0;
    }
    footer {
      text-align: center;
    }
    button {
      font-size: 18px;
      border: 0;
      padding: 15px 30px;
      background: #00AC7F;
      color: #fff;
      cursor: pointer;
    }
  </style>
</head>
<body>
<div class="wrap">
  <nav>
    <ul>
      <li ng-repeat="s in sections">
        <a ng-href="#section-{{$index}}" du-smooth-scroll du-scrollspy>{{s.title}}</a>
      </li>
    </ul>
  </nav>
  <h1>
    Angular.js Scrollspy Example
  </h1>
  <section ng-repeat="s in sections" id="{{'section-' + $index}}">

    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="toggleEdit(s)">
      <span class="glyphicon" ng-class="{'glyphicon-pencil': !s.editing, 'glyphicon-ok': s.editing}" aria-hidden="true"></span>
    </button>

    <h2 ng-if="!s.editing">{{s.title}}</h2>
    <textarea ng-if="s.editing" ng-model="s.title" ng-change="sections.$save(s)" rows="1" class="form-control">
    </textarea>

    <p ng-if="!s.editing" markdown-to-html="s.body"></p>
    <textarea ng-if="s.editing" ng-model="s.body" ng-change="sections.$save(s)" rows="8" cols="40" class="form-control">
    </textarea>
  </section>
  <footer>
    <button ng-click="toTheTop()">Take me back!</button> or <button ng-click="toSection3()">To section 3</button>
  </footer>
</div>
