<div class="col-lg-12" class="wrap">
  <div class="row">
    <div class="col-lg-12 profile-info">
      <h1>
        {{vm.cvProfile.name}}
      </h1>
      <!-- <img class="img-responsive img-circle img-thumbnail" ng-src="{{user.google.profileImageURL}}" /> -->
    </div>
  </div>

  <section ng-repeat="s in vm.sections" id="{{'section-' + $index}}">

    <div ng-if="!vm.allowedForEditing || !s.editing">
      <h2>
        {{s.title}}

        <span class="glyphicon glyphicon-pencil" ng-click="vm.toggleEdit(s)" ng-if="vm.allowedForEditing">
        </span>
      </h2>
      <p markdown-to-html="s.body"></p>
    </div>

    <div ng-if="s.editing && vm.allowedForEditing">
      <span class="glyphicon pull-right glyphicon-ok" ng-click="vm.toggleEdit(s)" >
      </span>
      <textarea ng-model="s.title" ng-change="vm.sections.$save(s)" rows="1" class="form-control section-edit">
      </textarea>
      <textarea ng-model="s.body" ng-change="vm.sections.$save(s)" rows="8" cols="40" class="form-control section-edit">
      </textarea>
    </div>



  </section>

  <footer>
    <button ng-click="vm.toTheTop()">Take me back!</button>
  </footer>
</div>
